---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description="Astro Boilerplate">
	<main class="h-screen dark:bg-black">
		<button class="bg-purple-800 text-white px-3 py-2 rounded">Test</button>
	</main>
</Layout>